@media only screen and (min-width: 800px) and (min-height: 320px) and (orientation: landscape) {
  .App-header-item {
    width: 90px;
    height: 71px;
    animation: float 6s ease-in-out infinite;
  }
  .App-header-title {
    top: 37%;
    font-size: 40px;
    width: 40%;
    height: 30%;
    z-index: 2;
  }
  .App-header-item.space .App-header-item-label,
  .App-header-item.earth .App-header-item-label,
  .App-header-item.creative .App-header-item-label,
  .App-header-item.body .App-header-item-label,
  .App-header-item.language .App-header-item-label,
  .App-header-item.stories .App-header-item-label {
    font-size: 20px;
    text-shadow: 0px 4px 18px #000000;
  }

  .App-header-item.space {
    right: 0;
    top: 2.5%;
  }
  .App-header-item.language {
    bottom: 2.5%;
    right: 0;
  }
  .App-header-item.body {
    bottom: 2.5%;
    left: 0;
  }
  .App-header-item.creative {
    top: 2.5%;
    left: 0;
  }
  .App-header-item.stories {
    top: 2.5%;
  }
  .App-header-item.earth {
    bottom: 2.5%;
  }
  .App-mobile-alert {
    padding: 7.5% 5%;
  }
  .App-mobile-alert-title {
    font-size: 125%;
  }
  .App-mobile-alert-text {
    margin-top: 5%;
    font-size: 85%;
  }
  .App-mobile-alert-button {
    margin-top: 5%;
    padding: 3% 5%;
    font-size: 80%;
  }
}

@media only screen and (min-width: 800px) and (hover: none) {
  .App-header-item {
    width: 250px;
    height: 150px;
    animation: float 3s ease-in-out infinite;
  }
  .App-header-item.space .App-header-item-label,
  .App-header-item.earth .App-header-item-label,
  .App-header-item.creative .App-header-item-label,
  .App-header-item.body .App-header-item-label,
  .App-header-item.language .App-header-item-label,
  .App-header-item.stories .App-header-item-label {
    font-size: 50px;
    text-shadow: 0px 4px 18px #000000;
  }

  .App-header-item.space {
    right: 0%;
    top: 7.5%;
  }
  .App-header-item.language {
    bottom: 7.5%;
    right: 0%;
  }
  .App-header-item.body {
    bottom: 7.5%;
    left: 0%;
  }
  .App-header-item.creative {
    top: 7.5%;
    left: 0%;
  }
  .App-header-item.stories {
    top: 7.5%;
  }
  .App-header-item.earth {
    bottom: 7.5%;
  }
  .App-header-title {
    top: 32.5%;
    font-size: 120px;
    width: 60%;
    height: 35%;
    z-index: 2;
  }
  .App-mobile-alert {
    padding: 7.5% 5%;
  }
  .App-mobile-alert-title {
    font-size: 175%;
  }
  .App-mobile-alert-text {
    margin-top: 5%;
    font-size: 115%;
  }
  .App-mobile-alert-button {
    margin-top: 5%;
    padding: 3% 7%;
    font-size: 110%;
  }
}

@media only screen and (max-width: 650px) {
  .App-header-item {
    width: 140px;
    height: 102px;
    animation: float 6s ease-in-out infinite;
  }
  .App-header-title {
    top: 40%;
    font-size: 60px;
    width: 80%;
    height: 20%;
    z-index: 2;
  }
  .App-header-item.space .App-header-item-label,
  .App-header-item.earth .App-header-item-label,
  .App-header-item.creative .App-header-item-label,
  .App-header-item.body .App-header-item-label,
  .App-header-item.language .App-header-item-label,
  .App-header-item.stories .App-header-item-label {
    font-size: 35px;
    text-shadow: 0px 4px 18px #000000;
  }

  .App-header-item.space {
    right: 0;
    top: 2.5%;
  }
  .App-header-item.language {
    bottom: 2.5%;
    right: 0;
  }
  .App-header-item.body {
    bottom: 2.5%;
    left: 0;
  }
  .App-header-item.creative {
    top: 2.5%;
    left: 0;
  }
  .App-header-item.stories {
    top: 2.5%;
  }
  .App-header-item.earth {
    bottom: 2.5%;
  }
  .App-mobile-alert {
    padding: 5% 8.5%;
  }
  .App-mobile-alert-title {
    font-size: 115%;
  }
  .App-mobile-alert-text {
    margin-top: 5%;
    font-size: 75%;
  }
  .App-mobile-alert-button {
    margin-top: 5%;
    padding: 3% 5%;
    font-size: 70%;
  }
}

/* 20:9 Scales */

/* Normal ratios */

@media only screen and (min-width: 375px) and (max-width: 800px) and (orientation: landscape) {
  .App-header-item {
    width: 90px;
    height: 71px;
    animation: float 6s ease-in-out infinite;
  }
  .App-header-title {
    top: 37%;
    font-size: 40px;
    width: 40%;
    height: 30%;
    z-index: 2;
  }
  .App-header-item.space .App-header-item-label,
  .App-header-item.earth .App-header-item-label,
  .App-header-item.creative .App-header-item-label,
  .App-header-item.body .App-header-item-label,
  .App-header-item.language .App-header-item-label,
  .App-header-item.stories .App-header-item-label {
    font-size: 20px;
    text-shadow: 0px 4px 18px #000000;
  }

  .App-header-item.space {
    right: 0;
    top: 2.5%;
  }
  .App-header-item.language {
    bottom: 2.5%;
    right: 0;
  }
  .App-header-item.body {
    bottom: 2.5%;
    left: 0;
  }
  .App-header-item.creative {
    top: 2.5%;
    left: 0;
  }
  .App-header-item.stories {
    top: 2.5%;
  }
  .App-header-item.earth {
    bottom: 2.5%;
  }
  .App-mobile-alert {
    padding: 7.5% 5%;
  }
  .App-mobile-alert-title {
    font-size: 125%;
  }
  .App-mobile-alert-text {
    margin-top: 5%;
    font-size: 85%;
  }
  .App-mobile-alert-button {
    margin-top: 5%;
    padding: 3% 5%;
    font-size: 80%;
  }
}

@media only screen and (min-width: 768px) and (hover: hover) {
  .App-header-item {
    width: 250px;
    height: 150px;
    animation: float 3s ease-in-out infinite;
  }
  .App-header-item.space .App-header-item-label,
  .App-header-item.earth .App-header-item-label,
  .App-header-item.creative .App-header-item-label,
  .App-header-item.body .App-header-item-label,
  .App-header-item.language .App-header-item-label,
  .App-header-item.stories .App-header-item-label {
    font-size: 50px;
    text-shadow: 0px 4px 18px #000000;
  }
  .App-header-item.space:hover .App-header-item-label,
  .App-header-item.earth:hover .App-header-item-label,
  .App-header-item.creative:hover .App-header-item-label,
  .App-header-item.body:hover .App-header-item-label,
  .App-header-item.language:hover .App-header-item-label,
  .App-header-item.stories:hover .App-header-item-label {
    font-size: 65px;
  }

  .App-header-item.space:hover {
    width: 300px;
    height: 200px;
    right: -1.5%;
    top: 5%;
  }
  .App-header-item.language:hover {
    width: 300px;
    height: 200px;
    right: -1.5%;
    bottom: 5%;
  }
  .App-header-item.body:hover {
    width: 300px;
    height: 200px;
    left: -1.5%;
    bottom: 5%;
  }
  .App-header-item.creative:hover {
    width: 300px;
    height: 200px;
    left: -1.5%;
    top: 5%;
  }
  .App-header-item.stories:hover {
    width: 300px;
    height: 200px;
    top: 5%;
  }
  .App-header-item.earth:hover {
    width: 300px;
    height: 200px;
    bottom: 5%;
    text-shadow: 0px 4px 18px #000000;
  }

  .App-header-item.space {
    right: 0%;
    top: 7.5%;
  }
  .App-header-item.language {
    bottom: 7.5%;
    right: 0%;
  }
  .App-header-item.body {
    bottom: 7.5%;
    left: 0%;
  }
  .App-header-item.creative {
    top: 7.5%;
    left: 0%;
  }
  .App-header-item.stories {
    top: 7.5%;
  }
  .App-header-item.earth {
    bottom: 7.5%;
  }
  .App-header-title {
    top: 32.5%;
    font-size: 120px;
    width: 60%;
    height: 35%;
    z-index: 2;
  }
}

@media only screen and (min-width: 1440px) {
  .App-header-item {
    width: 400px;
    height: 240px;
    animation: float 3s ease-in-out infinite;
  }
  .App-header-item.space .App-header-item-label,
  .App-header-item.earth .App-header-item-label,
  .App-header-item.creative .App-header-item-label,
  .App-header-item.body .App-header-item-label,
  .App-header-item.language .App-header-item-label,
  .App-header-item.stories .App-header-item-label {
    font-size: 70px;
    text-shadow: 0px 4px 18px #000000;
  }

  .App-header-item.space:hover .App-header-item-label,
  .App-header-item.earth:hover .App-header-item-label,
  .App-header-item.creative:hover .App-header-item-label,
  .App-header-item.body:hover .App-header-item-label,
  .App-header-item.language:hover .App-header-item-label,
  .App-header-item.stories:hover .App-header-item-label {
    font-size: 90px;
  }
  .App-header-item.space:hover {
    width: 500px;
    height: 300px;
    right: 107px;
    top: 70px;
  }
  .App-header-item.language:hover {
    width: 500px;
    height: 300px;
    right: 107px;
    bottom: 70px;
  }
  .App-header-item.body:hover {
    width: 500px;
    height: 300px;
    left: 107px;
    bottom: 70px;
  }
  .App-header-item.creative:hover {
    width: 500px;
    height: 300px;
    left: 107px;
    top: 70px;
  }
  .App-header-item.stories:hover {
    width: 500px;
    height: 300px;
    top: 70px;
  }
  .App-header-item.earth:hover {
    width: 500px;
    height: 300px;
    bottom: 70px;
    text-shadow: 0px 4px 18px #000000;
  }

  .App-header-item.space {
    right: 152px;
    top: 100px;
  }
  .App-header-item.language {
    bottom: 100px;
    right: 152px;
  }
  .App-header-item.body {
    bottom: 100px;
    left: 152px;
  }
  .App-header-item.creative {
    top: 100px;
    left: 152px;
  }
  .App-header-item.stories {
    top: 100px;
  }
  .App-header-item.earth {
    bottom: 100px;
  }
  .App-header-title {
    top: 500px;
    font-size: 1000%;
    width: 981px;
    height: 356px;
  }
}

#App-header {
  background: url("../images/mainBg.jpg") rgba(0, 0, 0, 25%);
  background-blend-mode: darken;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  color: white;
  position: relative;
}

.App-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #000000;
  text-shadow: 2px 4px 9px #5f5f5f;
  font-family: "Amatic SC";
  font-weight: 900;
  text-align: center;
  background: url("../images/discoveryIsland.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.App-header-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
}

.App-header-item-row .App-header-item:last-child {
  margin-right: 0;
}

.App-header-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 35px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.App-header-item-img {
  margin-right: 15px;
  height: 60px;
}

.App-header-item-label {
  font-family: "Amatic SC";
  font-weight: bold;
  transition: 0.3s;
}

.App-header-item.space {
  position: absolute;
  background: url("../images/spaceIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.language {
  position: absolute;
  background: url("../images/languageIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.body {
  position: absolute;
  background: url("../images/bodyIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.creative {
  position: absolute;
  background-image: url("../images/creativeIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.stories {
  position: absolute;
  background: url("../images/storyIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.earth {
  position: absolute;
  background: url("../images/earthIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
