#App-header {
  /* background: url("../images/mainBG.png") rgba(0, 0, 0, 50%); */
  background-blend-mode: darken;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  color: Black;
  position: relative;
}

.App-header-title {
  font-size: 180px;
  color: inherit;
  font-family: "Amatic SC";
  font-weight: 900;
  line-height: 0.75em;
}

.App-header-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
}

.App-header-item-row .App-header-item:last-child {
  margin-right: 0;
}

.App-header-item {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 400px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App-header-item-label {
  font-family: "Amatic SC";
  font-weight: bold;
  transition: 0.3s;
}

.App-header-item:hover .App-header-item-label {
  font-size: 48px;
  transition: 0.3s;
}

.App-header-item:hover .App-header-item-img {
  height: 80px;
  transition: 0.3s;
}

.App-header-item.space .App-header-item-label,
.App-header-item.earth .App-header-item-label,
.App-header-item.creative .App-header-item-label,
.App-header-item.body .App-header-item-label,
.App-header-item.language .App-header-item-label,
.App-header-item.stories .App-header-item-label {
  font-size: 70px;
}

.App-header-item.space:hover .App-header-item-label,
.App-header-item.earth:hover .App-header-item-label,
.App-header-item.creative:hover .App-header-item-label,
.App-header-item.body:hover .App-header-item-label,
.App-header-item.language:hover .App-header-item-label,
.App-header-item.stories:hover .App-header-item-label {
  font-size: 90px;
}

.App-header-item.space {
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 0px 0px 0px 12px;
}

.App-header-item.creative {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 12px 0px 0px 0px;
  border: 1px solid black;
}

.App-header-item.earth {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 12px 0px 0px;
  border: 1px solid black;
}

.App-header-item.stories {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 12px 0px;
  border: 1px solid black;
}

.App-header-item.language {
  position: absolute;
  top: 0px;
  border-radius: 0px 0px 12px 12px;
  border: 1px solid black;
}

.App-header-item.body {
  position: absolute;
  bottom: 0px;
  border-radius: 12px 12px 0px 0px;
  border: 1px solid black;
}
