#App-header {
  background: url("../images/mainBg.jpg") rgba(0, 0, 0, 25%);
  background-blend-mode: darken;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  color: white;
  position: relative;
}

.App-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 500px;
  font-size: 180px;
  color: #000000;
  text-shadow: 2px 4px 9px #5f5f5f;
  font-family: "Amatic SC";
  font-weight: 900;
  text-align: center;
  width: 981px;
  height: 356px;
  background: url("../images/discoveryIsland.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.App-header-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
}

.App-header-item-row .App-header-item:last-child {
  margin-right: 0;
}

.App-header-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 35px;
  border-radius: 25px;
  width: 400px;
  height: 240px;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
  transition: 0.3s;
}

.App-header-item-img {
  margin-right: 15px;
  height: 60px;
}

.App-header-item-label {
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 36px;
  transition: 0.3s;
}

.App-header-item:hover .App-header-item-label {
  font-size: 48px;
}

.App-header-item:hover .App-header-item-img {
  height: 80px;
}

.App-header-item.space {
  position: absolute;
  right: 152px;
  top: 100px;
  background: url("../images/spaceIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.space:hover {
  width: 500px;
  height: 300px;
  right: 107px;
  top: 70px;
}

.App-header-item.space .App-header-item-label,
.App-header-item.earth .App-header-item-label,
.App-header-item.creative .App-header-item-label,
.App-header-item.body .App-header-item-label,
.App-header-item.language .App-header-item-label,
.App-header-item.stories .App-header-item-label {
  font-size: 70px;
  text-shadow: 0px 4px 18px #000000;
}

.App-header-item.space:hover .App-header-item-label,
.App-header-item.earth:hover .App-header-item-label,
.App-header-item.creative:hover .App-header-item-label,
.App-header-item.body:hover .App-header-item-label,
.App-header-item.language:hover .App-header-item-label,
.App-header-item.stories:hover .App-header-item-label {
  font-size: 90px;
}

.App-header-item.language {
  position: absolute;
  bottom: 100px;
  right: 152px;
  background: url("../images/languageIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.language:hover {
  width: 500px;
  height: 300px;
  right: 107px;
  bottom: 70px;
}

.App-header-item.body {
  position: absolute;
  bottom: 100px;
  left: 152px;
  background: url("../images/bodyIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.body:hover {
  width: 500px;
  height: 300px;
  left: 107px;
  bottom: 70px;
}

.App-header-item.creative {
  position: absolute;
  top: 100px;
  left: 152px;
  background-image: url("../images/creativeIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.creative:hover {
  width: 500px;
  height: 300px;
  left: 107px;
  top: 70px;
}

.App-header-item.stories {
  position: absolute;
  top: 100px;
  background: url("../images/storyIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.stories:hover {
  width: 500px;
  height: 300px;
  top: 70px;
}

.App-header-item.earth {
  position: absolute;
  bottom: 100px;
  background: url("../images/earthIsland.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App-header-item.earth:hover {
  width: 500px;
  height: 300px;
  bottom: 70px;
  text-shadow: 0px 4px 18px #000000;
}

.App .App-experience-controls-header {
  height: unset;
  animation: none;
}

.App-experience .App-experience-controls-header {
  height: 100px;
}
