.App-earth-experience {
  background: url("../../images/earth.jpg"), rgba(0, 0, 0, 25%);
  background-size: cover;
  background-blend-mode: darken;
  overflow-y: scroll;
}

.App-earth-experience-usp {
  font-family: "Patrick Hand";
  font-size: 36px;
  margin-top: 40px;
  animation: appear 1s ease-in;
  margin-bottom: 70px;
}

.App-earth-experience .App-experience-title,
.App-earth-experience .App-earth-experience-usp {
  align-self: center;
}

.App-earth-experience-content {
  animation: appear 1s ease-in-out;
  /* position: relative; */
  min-height: 80vh;
}

.App-earth-experience-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  justify-content: center;
}

.App-earth-experience-media {
  display: flex;
  flex-direction: column;
}
/* .App-earth-experience .App-experience-list:last-child {
  margin-bottom: 0;
} */
