.App-language-experience {
  background: url("../../images/language.jpg"), rgba(0, 0, 0, 45%);
  background-size: cover;
  background-blend-mode: darken;
  overflow-y: scroll;
}

.App-language-experience-usp {
  font-family: "Patrick Hand";
  font-size: 36px;
  margin-top: 40px;
  animation: appear 1s ease-in;
  margin-bottom: 70px;
}

.App-language-experience .App-experience-title,
.App-language-experience .App-language-experience-usp {
  align-self: center;
}

.App-language-experience-content {
  animation: appear 1s ease-in-out;
  /* position: relative; */
  min-height: 80vh;
}

.App-language-experience-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  justify-content: center;
}

.App-language-experience-media {
  display: flex;
  flex-direction: column;
}

/* .App-body-experience .App-experience-list:last-child {
    margin-bottom: 0;
  } */
