.App-space-experience {
  background: url("../../images/space.png"), rgba(0, 0, 0, 25%);
  background-size: cover;
  background-blend-mode: darken;
  overflow-y: scroll;
}

.App-space-experience-content {
  animation: appear 1s ease-in;
}

.App-space-experience-usp {
  animation: appear 1s ease-in;
  font-family: "Patrick Hand";
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 70px;
  align-self: center;
}
